@charset "utf-8";

/********************section 시작********************/
#section_wrap{width:1900px; height:fit-content; margin:0 auto; position:relative;}
/*우측 flying메뉴*/
#flying_banner_wrap{width:100px; height:390px; margin:0 auto; position:absolute; top:700px; right:20px; z-index:100}
#flying_banner_inner{width:100px; height:410px; display:flex; flex-direction:column;}
#flying_banner_first{width:85px; height:120px; border-radius:10px; overflow:hidden;}
#fiying_banner_first{width:85px; height:120px;}
#flying_content{width:100px; height:340px; border-radius:10px; border:1px solid#d5d5d5; background-color:#fff; box-sizing:border-box; display:flex; flex-direction:column; justify-content:center; align-items:center;}
#flying_banner_second{width:85px; height:200px;}
.flying_event_wrap{width:100%; height:15px; padding:15px 0px; display:flex; align-items:center; justify-content:space-between;}
.flying_event_wrap:last-child{margin-top:10px;}
.flying_event_wrap > span{font-size:12px;}
.flying_event_wrap > span > a{text-decoration:none; color:#595959;}
.flying_event_wrap > span > a:hover{text-decoration:underline;}
.flying_event_wrap > span > a > img{width:7px; height:7px;}
#flying_img_wrap{width:85px; height:85px; border-radius:10px; overflow:hidden;}
#flying_img_box{width:85px; height:85px; position:relative;}
#flying_img_box > li{position:absolute;}
#flying_img_box > li:not(:first-child){display:none;}
#flying_img_box > li > a > img{width:85px; height:85px;}
#flying_control_box{width:100%; height:20px; display:flex; justify-content:space-between; align-items:center;}
#flying_control_box > #flying_page{color:#000}
#flying_control_box > span{font-size:12px; margin-top:3px; color:#595959;}
#flying_control_box > button{cursor:pointer; border:none; background:none; width:16px; height:16px;}
#flying_control_box > button > img{width:6px; height:10px;}
#flying_control_box > button:first-child > img{transform:rotate(180deg)}
#flying_up{width:100%; height:fit-content; display:flex; justify-content:center; margin-top:20px;}
#flying_btn > a{width:50px; height:50px; display:flex; flex-direction:column; justify-content:center; align-items:center; font-size:12px; color:#595959; background-color:#fff; border:1px solid#ccc; box-sizing:border-box; box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1); border-radius:100%; cursor:pointer;}
#flying_btn > a{text-decoration:none; color:#595959;}
#flying_btn > a > span{display:block; margin-top:10px;}
#flying_btn_img{width:9px; height:5px;} 
#flying_btn_img > img{width:100%; height:100%;}
/*슬라이더 시작*/
/*메인 슬라이더 - 4초마다 넘어가는 js적용*/
#slider_wide_wrap{width:100%; height:635px; padding-top:60px; margin:0 auto;}
#slider_inner_wrap{width:1260px; height:570px; position:relative; margin:0 auto;}
#main_slider{width:1260px; height:570px; margin:0 auto; position:relative;}
#slider_text{width:700px; height:110px;  margin-left:60px;}
#slider_img_wrap{width: 1581px; height:450px; overflow:hidden; position:relative; margin-top:10px;}

.slider_content > a{text-decoration:none;}
.slider_content > a > p{font-size:30px; line-height:45px; font-weight:700; color:#000;}
.slider_content{position:absolute;}
.slider_content:not(:first-child){display:none;}

#slider_img_wrap > li{position:absolute; top:0; left:0}
#slider_img_wrap > li:not(:first-child){display:none;}

/*플로팅 서브 슬라이더 시작*/
#sub_slider{width:410px; height:350px; position:absolute; top:0px; left:850px; display:flex; justify-content:space-between;}
#sub_slider > a{text-decoration:none;}
#float_banner{width:275px; height:350px; overflow:hidden; border-radius:10px 0px 10px 10px; background-color:#fff;}
#float_banner > img{width:275px; height:200px;}
#banner_info{width:245px; height:100px; margin-top:5px; padding:15px;}
#banner_type{font-size:13px; color:#474c98; line-height:19px; font-weight:500;}
#banner_title{font-size:15px; line-height:20px; color:#000; font-weight:500; margin-top:5px;}
#banner_desc{font-size:13px; line-height:20px; color:#767676; margin-top:15px;}

/*슬라이더 페이지 넘버 시작*/
#slider_number{width:100px; height:30px; position:relative; top:80px; display:flex; align-items:center;}
#slider_number > span{font-size:15px; color:#ccc; margin:0px 2px;}
#slider_number > #this_page{color:#000;}
#stop_button{width:30px; height:30px; border:none; border-radius:100%; overflow:hidden; margin-left:10px;
cursor:pointer;}

/*슬라이더 하단 메뉴 시작*/
#slider_box{width:1581px; height:70px;  margin:0 auto; position:absolute; bottom:0px;}
#slider_menu{width:1400px; height:70px; float:right; background-color:#fff; opacity:0.9; display:flex;}
#slider_nav{width:900px; height:70px; display:flex;}
#slider_nav > li{width:auto; margin:0px 25px; line-height:70px; font-weight:700; font-size:16px;}
#slider_nav > li:last-child{margin:0px 0px 0px 25px;}
#slider_nav > li > a{text-decoration:none; display:block; color:#767676;}
#slider_nav > li:first-child > a{color:#000; border-bottom:2px solid#000;}
#slider_control{width:100px; height:70px; display:flex; justify-content:space-around; }
#slider_control > button{background:none; border:none; font-size:40px; line-height:70px; color:#000; cursor:pointer;}

/*마케팅 메뉴 네비게이션 시작*/
#market_menu{width:1200px; height:110px; margin:0 auto;}
#market_nav{display:flex; justify-content:space-between;}
#market_nav > li{width:100px; height:100px;}
#market_nav > li > a{text-decoration:none; display:flex; flex-direction:column; align-items:center;}
#market_nav > li > a > span{color:#595959; font-size:14px;}
#market_nav > li > a > img{width:68px; height:68px; margin:10px 0px;}

/*오늘의 선택 섹션 시작*/
/*상단 오늘의 선택 타이틀*/
#today_pick{width:100%; height:auto; margin:0 auto; margin-top:70px; overflow:hidden;}
#today_inner{width:1200px; height:auto; margin:0 auto; position:relative;}
/********이전,이후 버튼*********/
.prev_button{transform:rotate(180deg); width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; left:-55px;}
.prev_button:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
.next_button{width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; right:-55px;}
.next_button:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
/*********버튼 종료*********/
#today_title{width:1200px; height:70px; display:flex; align-items:center;}
#today_title > h2{font-size:30px; line-height:40px; font-weight:bold;}
#today_title > ul{display:flex; justify-content:center; margin-left:20px;}
#today_title > ul > li {width:auto; margin:0px 10px; border:none; cursor:pointer; font-size:15px; color:#767676;}
#section_nav1 > li:first-child{color:#474c98; font-weight:bold;}
/*********더보기 버튼********/
.plus_wrap{width:549px; height:70px; line-height:70px; display:flex; align-items:center; justify-content:flex-end;}
.plus_text{font-size:15px; font-weight:bold;}
.plus_text:hover{text-decoration:underline; text-decoration-color:#000;}
.plus_text > a{text-decoration:none; color:#000;}
.plus_img > a > img{width:10px; height:10px; margin:0px 5px;}

/*오늘의 선택 책 이미지 섹션 왼쪽 상세정보*/
#today_whole_wrap{position:relative; width:1200px; height:370px;}
.today_content{position:absolute; top:0; left:0; width:1200px; height:370px; display:flex;}
.today_content:not(:first-child){display:none;}
.today_detail{width:660px; height:370px;}
.today_wrap{width:650px; height:370px; position:absolute; display:flex; align-items:center; justify-content:space-between;}
.today_wrap:not(:first-child){display:none;}
.today_book{width:232px; height:365px; border-radius:15px 15px 15px 0px; overflow:hidden;}
.today_book > a > img{width:100%; height:100%;}
/*핫트랙스&교보only는 별도 이미지 크기 적용*/
#hotDetail > .today_wrap > .today_book{width:232px; height:232px;}
#hotDetail > .today_wrap > .today_book > a > img{width:232px; height:232px;}
#onlyDetail > .today_wrap > .today_book{width:232px; height:232px;}
#onlyDetail > .today_wrap > .today_book > a > img{width:232px; height:232px;}
.today_info{width:400px; height:250px; display:flex; flex-direction:column; justify-content:center;}
.today_info > h3 > a{text-decoration:none; color:#000;}
.today_info > h3 > a:hover{text-decoration:underline;}
.today_info > h3{font-size:20px; line-height:30px; font-weight:bold;}
.today_info > span{font-size:15px; color:#595959; line-height:25px;}
.today_price{width:100%; height:30px; padding:10px 0px;}
.today_percent{font-size:16px; color:#4dac27; font-weight:bold; margin-right:3px;}
.today_val{font-size:16px; color:#000; font-weight:bold;}
.today_unit{font-size:16px; color:#000;}
.info_comment{color:#474c98; font-weight:bold; font-size:14px; margin-bottom:20px; margin-top:5px; position:relative; padding-left:20px; display:inline-block;}
.info_comment::before{content:""; background-image:url('../img/main/todaypick/comment.png'); width:15px; height:15px; background-size:15px 15px; display:block; position:absolute; left:0;}
.info_detail{font-size:13px; color:#595959; line-height:22px;}

/*오늘의 선택 섹션 오른쪽 서브 메뉴*/
.today_sub{width:540px; height:370px; overflow:hidden; position:relative; display:flex; justify-content:center;}
.today_sub > .today_sub_wrap{width:1080px; height:370px; position:absolute; top:0; left:-180px; display:flex; align-items:center; justify-content:space-around;}
.today_sub_content{width:180px; height:270px; display:flex; flex-direction:column; justify-content:flex-start; align-items:center;}
.today_sub_content > a > img{width:140px; height:200px; border-radius:15px 15px 15px 0px; overflow:hidden;}
/*핫트랙스&교보only는 별도 이미지 크기 적용*/
#hotSubWrap > .today_sub_content{width:180px; height:190px; overflow:hidden; display:flex; flex-direction:column; justify-content:flex-start; align-items:center;}
#hotSubWrap > .today_sub_content > a > img{width:140px; height:140px;}
#onlySubWrap > .today_sub_content{width:180px; height:190px; overflow:hidden; display:flex; flex-direction:column; justify-content:flex-start; align-items:center;}
#onlySubWrap > .today_sub_content > a > img{width:140px; height:140px;}
.today_sub_content > span{width:140px; font-size:12px; padding-top:10px; line-height:20px;}
.today_sub_content > span > a {text-decoration:none; color:#000;}

/*첫번째 중간배너*/
.banner1{width:100%; height:180px; padding-top:110px; margin:0 auto;}
.banner_wrap{width:1200px; height:180px; display:flex;  justify-content:space-between; margin:0 auto;}
.banner_box{width:595px; height:180px; border-radius:10px; overflow:hidden;}

/*급상승! 많이 보고 있는 상품*/
#rise_book{width:100%; height:auto; margin:0 auto; padding:110px 0px;}
#rise_inner{width:1200px; height:auto; margin:0 auto; position:relative;}
#prev9{background-image:url('../img/main/todaypick/button.png'); transform:rotate(180deg); width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; left:-55px;}
#prev9:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
#next9{background-image:url('../img/main/todaypick/button.png'); width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; right:-55px;}
#next9:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
#rise_title{width:1200px; height:70px; margin:0 auto;}
#rise_title > h2{font-size:30px; line-height:40px; font-weight:bold;}
#rise_content{width:1200px; height:450px; margin:0 auto; overflow:hidden;}
.rise_wrap{width:2400px; height:450px; display:flex;}
.rise_box{width:300px; height:450px; display:flex; flex-direction:column; align-items:center;}
.rise_box > a > img{width:270px; height:370px;}
.rise_box > a{text-decoration:none; display:flex; flex-direction:column; align-items:center;}
.rise_category{width:270px; margin:10px; font-size:13px; color:#767676;}
.rise_name{width:270px; margin-bottom:10px; font-size:16px; color:#000; font-weight:bold;}
.rise_name:hover{text-decoration:underline}
.rise_author{width:270px; font-size:14px; color:#767676;}
/*picks 섹션*/
#picks_upperwrap{background-color:rgba(77,172,39,0.06); width:100%; height:550px; margin:0 auto;}
#picks_wrap{width:1200px; height:550px; margin:0 auto; display:flex; flex-direction:column; justify-content:center;}
#picks_title{width:1200px; height:75px; margin:0 auto; display:flex; justify-content:space-between; align-items:flex-end;}
#picks_logo{width:100px; height:70px; display:flex; align-items:center;}
#picks_logo > img{width:82px; height:45px;}
#picks_content{width:1200px; height:320px; display:flex; align-items:center; justify-content:space-around; margin:0 auto;}
#picks_left{width:330px; height:210px;}
#picks_info_box{width:330px; height:100px;}
#picks_desc{color:#3c9a17; font-size:15px; margin-bottom:7px; line-height:20px; letter-spacing:-0.1px;}
#picks_info{color:#000; font-size:24px; line-height:30px; font-weight:bold; letter-spacing:-0.1px;}
#picks_btn{width:330px; height:50px; margin-top:60px;}
#picks_btn > a{box-sizing:border-box; display:block; width:250px; height:50px;  transition:0.3s ease-out; 
    text-decoration:none; color:#fff; font-size:15px; font-weight:bold; line-height:50px; text-align:center; border-radius:6px; background-color:#4dac27;}
#picks_btn > a:hover{background-color:#3c9a17;}
#picks_right{width:850px; height:310px;}
#picks_items_list{width:850px; height:310px; display:flex; justify-content:space-between;}
.picks_items{width:200px; height:310px;}
.picks_items_inner{width:200px; height:310px; border-radius:15px; overflow:hidden;}
.picks_img{width:200px; height:180px;}
.picks_img > img{width:100%; height:100%;}
.picks_items_info{width:200px; height:130px; text-align:center; background-color:#fff;}
.picks_items_title{font-size:14px; line-height:22px; font-weight:700; padding:15px 0px;}
.picks_items_desc{font-size:13px; color:#595959; line-height:20px; margin-top:-5px;}

/*ART&CULTURE 섹션 시작*/
#art_upperwrap{width:100%; height:465px; margin:0 auto; padding-top:110px;}
#art_wrap{width:1200px; height:465px; margin:0 auto;}
#art_title{width:1200px; height:70px; display:flex; align-items:center; justify-content:space-between;}
#art_title > h2{font-size:30px; line-height:40px; font-weight:bold; color:#000;}
#art_content{width:1200px; height:395px; margin:0 auto; position:relative;}
#art_content_wrap{width:1200px; height:100%; margin:0 auto; overflow:hidden;}
#art_content_inner{width:2400px; height:100%; display:flex; margin:0 auto;}
.art_items_wrap{width:300px; height:100%; display:flex; justify-content:center;}
.art_content_item{width:270px; height:100%;}
.art_item_img{width:270px; height:270px;}
.art_item_img > img{width:100%; height:100%;}
.art_item_info{width:100%; height:100px; margin-top:12px;}
.art_item_info > a{text-decoration:none;}
.art_item_info > a:hover > .art_item_title{text-decoration:underline;}
.art_item_cate{font-size:13px; color:#595959; line-height:20px; display:block;}
.art_item_title{font-size:15px; color:#000; line-height:25px; font-weight:bold; padding:5px 0px; display:block;}
.art_item_author{font-size:14px; color:#595959;}

/*화제의 신상 섹션*/
#new_upperwrap{width:100%; height:470px; padding-top:110px; margin:0 atuo;}
#new_wrap{width:1200px; height:100%; margin:0 auto;}
#new_title{width:1200px; height:70px; display:flex; align-items:center;}
#new_title > h2{font-size:30px; line-height:40px; font-weight:bold;}
#new_title > ul{display:flex; justify-content:center; margin-left:20px;}
#new_title > ul > li{width:auto; margin:0px 10px; border:none; cursor:pointer; font-size:16px; color:#767676;}
#section_nav2 > li:first-child{color:#474c98; font-weight:bold;}
#new_title > .plus_wrap{width:527px}
#new_content_whole{width:1200px; height:400px; position:relative;}
.new_content{width:1200px; height:400px; margin:0 auto; position:relative;}
.new_content{position:absolute; top:0; left:0;}
.new_content:not(:first-child){display:none;}
.new_content_wrap{width:1200px; height:100%; margin:0 auto; overflow:hidden;}
.new_content_inner{width:2400px; height:100%; display:flex;}
.new_items_wrap{width:240px; height:100%; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.new_item_img{width:210px; height:290px;}
.new_item_img > img{width:100%; height:100%;}
.new_item_info{width:210px; height:90px; margin-top:10px;}
.new_item_info > a{text-decoration:none;}
.new_item_info > a:hover > .new_item_title{text-decoration:underline;}
.new_item_title{font-size:15px; line-height:25px; color:#000; font-weight:bold; padding:5px 0px; display:block;}
.new_item_author{font-size:13px; line-height:20px; color:#595959; display:block; padding-top:5px;}

/*이 주의 책 섹션*/
#week_upperwrap{width:100%; height:470px; padding-top:110px; margin:0 atuo;}
#week_wrap{width:1200px; height:100%; margin:0 auto;}
#week_title{width:1200px; height:70px; display:flex; align-items:center; justify-content:space-between;}
#week_title > h2{font-size:30px; line-height:40px; font-weight:bold;}
#week_title > div > span{display:flex; align-items:center;}
#week_title > div > span > img{width:24px;}
#week_content{width:1200px; height:400px; margin:0 auto;}
#week_content_wrap{width:1200px; height:100%; margin:0 auto;}
#week_content_inner{width:1200px; height:100%; display:flex;}
.week_items_wrap{width:240px; height:100%; display:flex; justify-content:center;}
.week_content_item{width:210px; height:100%;}
.week_item_img{width:210px; height:290px;}
.week_item_img > img{width:100%; height:100%;}
.week_item_info{width:100%; height:100px; margin-top:5px;}
.week_item_info > a{text-decoration:none;}
.week_item_info > a:hover > .week_item_title{text-decoration:underline;}
.week_item_title{font-size:15px; line-height:22px; color:#000; font-weight:bold; display:block;}
.week_item_author{font-size:13px; line-height:20px; color:#595959; display:block; padding-top:5px;}
.week_price{font-size:14px; color:#000; padding-top:12px;}
.week_val{font-weight:bold;}

/*히트 섹션*/
#hit_upperwrap{width:100%; height:275px; padding-top:110px; margin:0 auto;}
#hit_wrap{width:1200px; height:275px; display:flex; margin:0 auto;}
#hit_left{width:300px; height:275px; display:flex; flex-direction:column; justify-content:space-between;}
#hit_title_wrap{width:270px; height:160px;}
#hit_title_wrap > h2{font-size:30px; line-height:40px; font-weight:bold;}
#hit_title_wrap > p{font-size:15px; margin-top:20px; line-height:20px; color:#595959}
#hit_title_wrap > #hit_more_wrap{margin-top:40px;}
#hit_control{width:100px; height:45px; display:flex; justify-content:space-between;}
#prev18{cursor:pointer; transform:rotate(180deg); width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat;}
#next18{cursor:pointer; width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat;}
#hit_right{width:900px; height:275px;}
#hit_right_content{width:100%; height:100%;  overflow:hidden;}
#hit_right_inner{width:1800px; height:100%; display:flex; justify-content:space-between;}
.hit_right_item{width:275px; height:275px; display:flex; justify-content:center; align-items:center; position:relative; overflow:hidden; border-radius:100%;}
.hit_right_img {width:300px; height:300px;}
.hit_right_img > img{width:100%; height:100%;}
.hit_right_box{display:none;}
.hit_right_info{background:rgba(0,0,0,0.6); width:275px; height:275px; position:absolute; top:0; left:0;  display:flex; flex-direction:column; align-items:center; justify-content:center;}
.hit_info_title{font-size:15px; color:#fff; font-weight:bold; width:220px; height:14px; overflow:hidden; text-align:center;}
.hit_info_price{width:auto; height:15px; padding-top:50px;}
.hit_info_percent{font-size:14px; font-weight:bold; color:#4dac27}
.hit_info_val{font-size:14px; font-weight:bold; color:#fff; margin-left:2px;}
.hit_info_unit{font-size:14px; color:#fff; }

/*베스트/스테디 도서 1. 공통 섹션*/
#best_upperwrap{width:100%; height:900px; padding-top:110px; margin:0 auto;}
#best_steady_wrap{position:relative; width:1200px; height:900px; margin:0 auto;}
.best_steady_inner{position:absolute; top:0; left:0;}
.best_steady_inner:not(:first-child){display:none;}
/*베스트/스테디 도서 2. 베스트 섹션*/
#best_wrap{width:1200px; height:900px; margin:0 auto;}
#best_title{width:1200px; height:70px; display:flex; align-items:center;}
#best_title > h2{width:auto; font-size:30px; color:#000; line-height:40px; font-weight:bold;}
#best_title > h2 > span{cursor:pointer;}
#section_nav3 > li:first-child{color:#474c98; font-weight:bold;}
.best_title2{font-size:20px; opacity:0.2;}
.best_title3{opacity:0.2;}
#best_title > ul{width:600px; display:flex; justify-content:center; margin-left:20px;}
#best_title > ul > li{width:auto; margin-right:30px; border:none; cursor:pointer; font-size:16px; color:#767676;}
#best_title > .plus_wrap{width:381px;}
#best_content{width:1200px; height:830px; margin:0 auto;}
#best_content_inner{width:1200px; height:830px; margin-top:20px;}
.best_content_box{position:absolute; width:1200px; height:830px; margin:0 auto; display:flex; flex-wrap:wrap;}
.best_content_box:not(:first-child){display:none;}
.best_content_item{width:240px; height:415px; display:flex; flex-direction:column; justify-content:center; align-items:center; box-sizing:border-box;}
.best_product{width:210px; height:415px;}
.best_product_rank{width:210px; height:25px; display:flex; align-items:center; justify-content:space-between;}
.best_rank_num {width:22px; height:22px; display:flex; justify-content:center; align-items:center; border-radius:8px 0px; background-color:#767676; color:#fff; font-weight:bold; font-size:12px;}
.best_product_rank > span > img{width:130px; height:25px;}
.best_product_rank > .rank_status{width:auto; height:20px; display:flex; align-items:center;}
.best_product_rank > .rank_status > img{width:10px; height:5px;}
.best_product_rank > .rank_status > .rank_up{font-size:13px; color:red; margin-left:4px;}
.best_product_rank > .rank_status > .rank_down{font-size:13px; color:#1976e3; margin-left:4px;}
.best_product_img {width:210px; height:270px; padding-top:10px;}
.best_product_img > a > img{width:100%; height:100%;}
.best_product_info{width:210px; height:80px;}
.best_product_info > span{display:block; padding-top:15px;}
.best_product_title{font-size:15px;}
.best_product_title > a{text-decoration:none; color:#000; font-weight:bold;}
.best_product_title > a:hover{text-decoration:underline;}
.best_product_author{font-size:13px; color:#595959;}

/*베스트/스테디 도서 3. 스테디 섹션*/
#steady_wrap{width:1200px; height:900px; margin:0 auto;}
#steady_title{width:1200px; height:70px; display:flex; align-items:center;}
#steady_title > h2{width:240px; font-size:30px; color:#000; line-height:40px; font-weight:bold;}
#steady_title > h2 > span{cursor:pointer;}
#section_nav4 > li:first-child{color:#474c98; font-weight:bold;}
.steady_title2{font-size:20px; opacity:0.2;}
.steady_title1{opacity:0.2;}
#steady_title > ul{width:600px; display:flex; justify-content:flex-start; margin-left:20px;}
#steady_title > ul > li{width:auto; margin-right:30px; border:none; cursor:pointer; font-size:16px; color:#767676;}
#steady_content{width:1200px; height:830px; margin:0 auto;}
#steady_content_inner{width:1200px; height:830px; margin-top:20px;}
.steady_content_box{width:1200px; height:830px; margin:0 auto; display:flex; flex-wrap:wrap;}
.steady_content_box:not(:first-child){display:none;}
.steady_content_item{width:240px; height:415px; display:flex; flex-direction:column; justify-content:center; align-items:center; box-sizing:border-box;}
.steady_product{width:210px; height:415px;}
.steady_product_rank{width:210px; height:25px; display:flex; align-items:center; justify-content:space-between;}
.steady_rank_num {width:22px; height:22px; display:flex; justify-content:center; align-items:center; border-radius:8px 0px; background-color:#767676; color:#fff; font-weight:bold; font-size:12px;}
.steady_product_rank > span > img{width:130px; height:25px;}
.steady_product_rank > .rank_status{width:auto; height:20px; display:flex; align-items:center;}
.steady_product_rank > .rank_status > img{width:10px; height:5px;}
.steady_product_rank > .rank_status > .rank_up{font-size:13px; color:red; margin-left:4px;}
.steady_product_rank > .rank_status > .rank_down{font-size:13px; color:#1976e3; margin-left:4px;}
.steady_product_img {width:210px; height:270px; padding-top:10px;}
.steady_product_img > a > img{width:100%; height:100%;}
.steady_product_info{width:210px; height:80px;}
.steady_product_info > span{display:block; padding-top:15px;}
.steady_product_title{font-size:15px;}
.steady_product_title > a{text-decoration:none; color:#000; font-weight:bold;}
.steady_product_title > a:hover{text-decoration:underline;}
.steady_product_author{font-size:13px; color:#595959;}

/*세번째 배너 - 세로형 길게*/
.banner3{width:100%; height:150px; padding-top:110px; margin:0 auto;}
.banner3_wrap{width:1200px; height:150px; margin:0 auto; overflow:hidden;}
.banenr3_inner{width:4800px; height:150px; margin:0 auto; display:flex;}
.banner3_inner > li{width:1200px; height:150px; margin:0 auto; border-radius:10px; overflow:hidden;}
.banner3_inner > li > a > img{width:100%; height:100%;}

/*교보 오리지널 섹션*/
#origin_book{width:100%; height:auto; margin:0 auto; padding-top:110px;}
#origin_inner{width:1200px; height:auto; margin:0 auto; position:relative;}
#prev19{transform:rotate(180deg); width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; left:-55px;}
#prev19:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
#next19{width:44px; height:44px; background-size:44px 44px; 
border:1px solid#ccc; background-color:#fff; border-radius:100%; background-position:center; background-repeat:no-repeat; position:absolute; top:50%; right:-55px;}
#next19:hover{cursor:pointer; transition:0.5s; opacity:0.8;}
#origin_title{width:1200px; height:70px; margin:0 auto; display:flex; align-items:center; justify-content:space-between;}
#origin_title > h2{font-size:30px; line-height:40px; font-weight:bold;}
#origin_content{width:1200px; height:450px; margin:0 auto; overflow:hidden;}
.origin_wrap{width:2400px; height:450px; display:flex;}
.origin_box{width:300px; height:450px; display:flex; flex-direction:column; align-items:center;}
.origin_box > a > img{width:270px; height:370px;}
.origin_box > a{text-decoration:none; display:flex; flex-direction:column; align-items:center;}
.origin_category{width:270px; margin:10px; font-size:13px; color:#767676;}
.origin_name{width:270px; margin-bottom:10px; font-size:16px; color:#000; font-weight:bold;}
.origin_name:hover{text-decoration:underline}
.origin_author{width:270px; font-size:14px; color:#767676;}

/*casting 섹션 : 섹션 하단부 원형 슬라이드까지 한 섹션에 담음*/
/*casting 섹션 1.공통부분*/
#casting_upperwrap{width:100%; height:930px; padding-top:110px; overflow:hidden; margin:0 auto;}

/*casting 섹션 2.영상 슬라이드 섹션*/
#casting_wrap{width:100%; height:580px;margin:0 auto; position:relative; display:flex; justify-content:center;}
/*배경이 되는 배너*/
.casting_banner{width:100%; height:470px; margin:0 auto; position:relative;}
.casting_banner_items{width:100%; height:470px; margin:0 auto; overflow:hidden;}
.casting_item::before{content:""; width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:absolute; top:0; left:0; z-index:2;}
.casting_item > img{width:100%; transform:translateY(-30%); display:block; }
.casting_item:not(:first-child){display:none;}
/*배너 앞에 컨텐츠*/
.casting_content_upperwrap{position:absolute; top:0; z-index:2; width:1200px; height:580px; padding-top:110px; box-sizing:border-box; margin:0 auto;}
.casting_content_title{width:1200px; height:70px; margin:0 auto; display:flex; justify-content:space-between; align-items:flex-end;}
.casting_plus_text{font-size:15px; font-weight:bold;}
.casting_plus_text > a{color:#fff; text-decoration:none;}
.casting_plus_text > a:hover{text-decoration:underline;}
.casting_plus_img > a > img{width:10px; height:10px; margin:0px 5px;}
.casting_logo{width:140px; height:70px; display:flex; align-items:center;}
.casting_logo > img{width:100%; height:40px;}
.casting_info_wrap{width:1200px; height:400px; display:flex;}
.casting_content_info{width:350px; height:230px; display:flex; flex-direction:column; justify-content:space-between;}
.casting_info_box{width:350px; height:170px;}
.casting_info_box > .casting_info_ul{width:100%; height:130px;}
.casting_info_box > p{color:#fff; margin-top:20px; font-weight:bold;}
.casting_info_box > p > span{color:#fff; opacity:0.6; margin-right:5px; font-weight:100;}
.casting_info_title{width:330px; height:fit-content; color:#fff; font-weight:bold; font-size:30px; line-height:40px; margin-top:5px;}
.casting_thumb_wrap{width:850px; height:400px; display:flex; align-items:flex-end; justify-content:space-between;}
.casting_book{width:130px; height:250px; margin-right:10px;}
.casting_book_img > a > img{width:130px; height:180px;}
.casting_name{text-decoration:none; color:#000;}
.casting_name:hover{text-decoration:underline;}
.casting_name > span{width:130px; font-size:14px; font-weight:bold; line-height:20px; display:block; margin-top:5px;}
.casting_author{font-size:13px; color:#595959; display:block; margin-top:5px;}
.casting_thumb_box{width:685px; height:400px;}
.casting_thumb_img{width:685px; height:400px; display:flex; align-items:center; justify-content:center; border-radius:50px;overflow:hidden;}
.casting_thumb_img > a > img{display:block;}
.casting_thumb_img::before{cursor:pointer; content:""; width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:absolute; top:0; left:0; z-index:2;}
.casting_thumb_img::after{cursor:pointer; content:""; width:70px; height:70px; background-image:url('../img/main/casting/icon2.png'); background-repeat:no-repeat; background-position:center; transform:translate(-50%, -50%); position:absolute; top:50%; left:50%; background-size:70px; z-index:2;}
#casting_button{width:100px; height:50px; display:flex; align-items:flex-end; justify-content:space-between;}
#prev20{cursor:pointer; transform:rotate(180deg); width:44px; height:44px; background-size:44px 44px; 
border:1px solid rgba(255,255,255,0.6); background-color:transparent; border-radius:100%; background-position:center; background-repeat:no-repeat; }
#next20{cursor:pointer; width:44px; height:44px; background-size:44px 44px; 
border:1px solid rgba(255,255,255,0.6); background-color:transparent; border-radius:100%; background-position:center; background-repeat:no-repeat;}
.casting_info_title{position:absolute;}
.casting_info_title:not(:first-child){display:none;}
.casting_book_img{position:absolute;}
.casting_book_img:not(:first-child){display:none;}
.casting_thumb_img{position:absolute;}
.casting_thumb_img:not(:first-child){display:none;}

/*casting 섹션 3.하단 인터뷰 콘텐츠*/
#interview_wrap{width:1200px; height:340px; margin:0 auto; margin-top:5px;  position:relative;}
#interview_content_wrap{overflow:hidden; width:1200px; height:340px; margin:0 auto;}
#interview_content_box{width:2100px; height:340px; display:flex; align-items:center; justify-content:space-around;}
.interview_content{width:275px; height:275px; position:relative; }
.interview_content > a{text-decoration:none; color:#fff;}
.interview_img{width:275px; height:275px; border-radius:100%; overflow:hidden;}
.interview_box{display:none;}
.interview_info{width:275px; height:275px; border-radius:100%; background:rgba(0,0,0,0.6); position:absolute; top:0; left:0;  display:flex; align-items:center; justify-content:center;}
.interview_title{width:190px; line-height:20px; font-weight:bold; font-size:14px; text-align:center;}